.navbar-bg-color{
  background-color: #d70f64;
}

.navbar-brand{
  color: white!important;
  font-size: 15px;
}
.navbar-brand img{
  width: 80px;
}

.nav-link{
  color: white!important;
}

.nav-link:hover{
  color: wheat!important;
}